<div class="page-section stretch"> 
  <div class="section-inner stretch">
    <div class = "section-title flexbox horizontal justify-content-center">
      Login 
    </div>
    <div class="flexbox horizontal justify-content-center">
      <%= form_tag(sessions_path) do %>
      <table summary="login">
        <tr>
          <th><%= label_tag(:email) %></th>
        </tr>
        <tr>
          <td><%= text_field_tag(:email, params[:email], type: 'email', required: true, placeholder: "Enter email") %></td>
        </tr>
        <tr>
          <th><%= label_tag(:password) %></th>
        </tr>
        <tr>
          <td><%= password_field_tag(:password, nil, required: true, minlength: 8, placeholder: "Enter password") %></td>
        </tr>
      </table>
      <div class="text-center form-buttons">
        <br>
        <%= submit_tag "Login", class: 'btn button btn-primary', style: 'color: black;' %>
      </div>
      <% end %>
    </div>
    <div class="text-center">
      <br>
      <p> Don't have an account? </p>
      <p> <%= link_to "Create Account", sign_up_path, class: 'btn button btn-primary' %></p>
    </div>
  </div>
</div>