<div class="session new">
<h1 style="font-size:40px;">Login</h1>
  <br> 

  <%= form_tag(sessions_path) do %>
    <table summary="login">
      <br> 
      <tr>
        <th><%= label_tag(:email_address) %></th>
        <td><%= text_field_tag(:email_address, params[:email_address]) %></td>
      </tr>
      <tr>
        <th><%= label_tag(:password) %></th>
        <td><%= password_field_tag(:password) %></td>
      </tr>
      <br> 
    </table>

    <div class="form-buttons">
      <%= submit_tag "Login", class: 'btn btn-primary', style: 'color: black;' %>
    </div>

  <% end %>

  <br>
  <p> Don't have an account? </p>
  <p> <%= link_to "Create New user", sign_up_path, class: 'btn btn-primary' %></p>

</div>