<head>
  <title>Edit Account - ValetBike</title>
</head>

<body>
  <section class="page-section">
    <div class="section-inner">
      <div class="form-card">

        <div class="back-container">

          <a href="/users/show" class="back-link">
            <svg viewBox="0 0 24 24" class="icon" style="width: 70px; height: 70px;">
              <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.28 10.28a.75.75 0 010-1.06l3-3a.75.75 0 011.06 1.06l-1.72 1.72h5.69a.75.75 0 010 1.5h-5.69l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3z" fill-rule="evenodd"></path>
            </svg>
          </a>

        </div>

        <h1 class="section-title"> Edit <%= resource_name.to_s.humanize %> </h1>
        <div class="horizontal-line"></div> 

        <div class="flexbox horizontal justify-content-center">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if no change needed)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class:"btn button btn-primary"%>
            </div>
          <% end %>

        </div>

        <div class="field">
          <p> <b> Cancel Account? </b> </p>
        </div> 

        <div class="horizontal-line"></div> 
        <div class="flexbox horizontal justify-content-center">


        <% if current_user.has_membership? %> 

          <p> NOT available, active membership </p>

        <% elsif current_user.has_payment? %> 

          <div class="field">
            <%= link_to "NOT available, payment required", rentals_path, class: "btn button btn-primary" %>
          </div>

        <% else %> 

        <div>
          <%= button_to "Cancel my account", 
                        registration_path(resource_name), 
                        method: :delete, 
                        class: "btn button btn-primary", 
                        data: { 
                          controller: "confirmation", 
                          action: "click->confirmation#confirm" 
                        } %>
        </div>
      

        <% end %>
        
      </div>
    </div>
  </section>
</body>