<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>)
    <% bikes_in_station = Bike.where(current_station_id: station.identifier) %>
    <b>Number of Bikes: <%= bikes_in_station.count %> </b>
    <br>
    <b>Number of Docked Bikes:</b>
</div>