<div class="page-section stretch"> 
  <div class="section-inner stretch">    
    <div class = "section-title flexbox horizontal justify-content-center">
    Create an Account 
    </div>

    <div class="flexbox horizontal justify-content-center">

      <%= form_with url: '/sign_up', method: :post do |form| %>

            <th><%= label_tag(:first_name) %></th>
            <td><%= text_field_tag(:first_name, params[:first_name], required: true) %></td>
        
            <th><%= label_tag(:last_name) %></th>
            <td><%= text_field_tag(:last_name, params[:last_name], required: true) %></td>


            <th><%= label_tag(:email) %></th>
            <td><%= text_field_tag(:email, params[:email], type: 'email', required: true) %></td>
          

            <th><%= label_tag(:password) %></th>
            <td><%= password_field_tag(:password, nil, required: true, minlength: 8) %></td>

            <th><%= label_tag(:password_confirmation) %></th>
            <td><%= password_field_tag(:password_confirmation, nil, required: true, minlength: 8) %></td>
      
        <div class="form-buttons">
          <%= submit_tag "Sign Up", class: 'btn button btn-primary' %>
        </div>

        <div class="text-center">
          <br>
          <p> Already have an account? </p>
          <p> <%= link_to "Login", new_user_session_path, class: 'btn button btn-primary' %></p>
        </div>

      <% end %>
      
    </div>
  </div>
</div>
