<head>
    <title>Forgot Password - ValetBike</title>
</head>

<body>

    <section class="page-section">
      <h1 class="section-title">Forgot Password</h1>
      <div class="section-inner">
        <div class="flexbox horizontal justify-content-center">
          
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <br>
              <%= f.submit "   Send reset instructions   ", class:"btn button btn-primary"%>
              <br>
              <br>
            </div>
            
          <% end %>
        </div>

        <div class="flexbox horizontal justify-content-center">
            <%= render "devise/shared/links" %>
        </div>

      </div>
    </section>

</body>
