<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= rental.id %>
  <b>Rental period: <%= rental.rental_period %> </b>
  <p><b>Return by: <%= rental.return_by %> </b>
  <p>User: <%=rental.user.id%>
  <p>Complete: <%= rental.complete?%>
  <p>Created: <%=rental.created_at%>
  <p>Rented At: <%=rental.rented_at%>
  <% if !rental.complete %>
    <p>Rental is not complete
    <p>
      <%= link_to "Return Rental", return_path(Rental.find(rental.id)), class: 'btn button btn-primary' %>
    </p>
  <% else %>
    <p>Rental is complete
  <% end %>
