<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <b>Rental period: <%= rental.rental_period %> </b>
  <p><b>Return by: <%= rental.return_by %> </b>
  <p>Rented At: <%=rental.rented_at%>
  <% if !rental.bike.nil?%>
    <p>Bike: <%=rental.bike.identifier%>
  <% end %>
  <% if !rental.is_complete %>
    <p>
      <%= link_to "Return Rental", return_path(Rental.find(rental.id)), class: 'btn button btn-primary' %>
      <%= link_to "Show Rental QR Code", rental_path(Rental.find(rental.id)), class: 'btn button btn-primary' %>
    </p>
  <% end %>
</div>