<h1 style="font-size:40px;">Create New Rental </h1>


<div class="flexbox horizontal justify-content-center">
  <%= form_with model: @rental, url: rentals_path, method: :post, local:true do |f| %>
    <br>
    <br>
    <table>
      <tr>
        <th><b><%= f.label (:bike_id) %></b></th>
        <td><%= text_field_tag :selected_bike_id, params[:selected_bike_id], class: "search-control", readonly: true %></td>
      </tr>
      <tr>
        <th><b><f.label for (:rental_hours)>Hours</label></b></th>
        <td><input type="number" name="rental_hours" min="0" max="9" step="1" class="form-control" id= :rental_hours></td>
      </tr>
      <tr>
        <th><b><f.label for (:rental_hours)>Minutes</label></b></th>
        <td><input type="number" name="rental_minutes" min="0" max="45" step="15" class="form-control" id= :rental_minutes></td>
      </tr>
      <tr>
        <th><b><%= f.label (:return_by) %></b></th>
        <td><%= f.date_field (:return_by) %></td>
      </tr>
    </table>
    <br>
    <br>
    <%= f.submit class: "btn button btn-primary"%>
  <% end %>
</div>