
<% @membership = Membership.find(session[:user_id]) %>

<box>
<h1> <%= @membership.membership_type %> membership</h1>
<p>
A <%= @membership.membership_type %> full of amazing adventures in Nipmuk Notch!
</p>

</box>

<%= form_with url: payments_path, method: :post, local:true, authenticity_token: false, commit: false do |f| %>
    
  <%= f.label (:credit_card_info) %>
  <%= f.text_field (:credit_card_info), placeholder: "0000000000000000" %>
  
  <%= f.submit class: "btn button btn-primary"%>
  
<% end %>