<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @location %>

    <% link_to 'Edit this location', edit_location_path(@location), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Select this location', stations_path(search_by_address: @location.address), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Back to locations', locations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  
    </div>


</div>



<div class="mx-auto md:w-2/3 w-full flex">
  <br>
  <b> Staions nearby <%= @location.name %>: </b>
  <ul>
    <% @location.nearbys(0.5).each do |location| %>
      <li> 
      Station: <%= location.name %>
      Distance: <%= location.distance_to(@location) %>
      </li>
      <br>
    <% end %>
  </ul>
</div>







<!-- pk.eyJ1IjoicGNhbGxlMjAwMyIsImEiOiJjbHA1bXNzeGMwN2t6MnFxazU3cGU1eWgyIn0.S4cnOrUfM5Uh4mbzSCWkJA -->
