<!-- app/views/layouts/_navbar.html.erb -->
<div id="navbar" class="flexbox horizaontal">
  <nav class="navbar navbar-expand-lg navbar-header navbar-dark navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>


      <%= link_to home_path, method: :post do %>
        <div class="logo white-fill">
          <%= render inline: Rails.root.join('app/assets/images/logo.svg').read %>
        </div>
      <% end %>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>

          <% if session[:user_id].present? %>
            <% puts "user is logged in" %>
            <li class="nav-item">
              <%= link_to 'New Rental', stations_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <% link_to 'Bikes', bikes_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Past Rentals', rentals_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <% link_to 'Payments', payments_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Account', users_show_path, class: 'dropdown-item' %>
                  <%= link_to 'Logout', logout_path, class: 'dropdown-item' %>
                </div>
              </div>
          
            </li>
          <% else %>
          <li class="nav-item">
          
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
        
            <%= link_to 'Sign Up', sign_up_path, class: 'nav-link' %>
          </li>
          <% end %>

          <!-- Add more page links as needed -->
        </ul>
      </div>
    </div>
  </nav>
</div>
